
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color:#FFFFFF;    
    min-height: 100vh;
    padding: 5px 5px;
}

.contenedor-contacto-etw{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.footer-iconos{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-iconos a{
    text-decoration: none;
    color: #643843;
}

.footer-iconos a i{
    margin: 5px 4px;
}

.footer-navlista{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-navlista-ul{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: start;

}

.footer-navlista-ul li{
    display: flex;
    list-style: none;
}

.footer-navlista-ul li a{
    text-decoration: none;
    color: #643843;
}

.contenido-img{
    display: flex;    
    background: linear-gradient(rgba(5,7,12, 0.35), rgba(12, 12, 14, 0.8)) ,url("../img/fumilogo20.png"), center center fixed;
    background-repeat: no-repeat;
    border: unset;
    background-size: cover;
    height: 620px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header{
    /*background-color:#d8253a*/
    background-color:#cc1f32;
    height: 80px;
    width: 100%;
    top:0;
    left: 0;
}

.navbar{
    display:flex;
    justify-content:space-around;    
    background-color:#cc1f32;
    align-items: center;
    height: 80px;
    width: 100%;
}

.figure{
    background-color: #f6d5a6;
    animation: aparece 7s linear infinite;
    height: 110px;
    width: 110px;
    border-radius: 100%;
}

.logo{
    height: 110px;
    width: 110px;
    border-radius: 100%;
    /*filter:drop-shadow(4px 4px 4px black);*/
}

.navbar-movil, .cerrar {
    background-color: #cc1f32;
    color:white;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

.navlista{
    display: flex;
    height: 40px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navitem{
    margin: 0 10px;
    line-height: 80px;
    margin-top: 10px;
}

.navlink{
    text-decoration: none;
    padding: 15px;
    color:white;
}

.navlink1{
    text-decoration: none;
    color:white;
}

.navlink:hover{
    background-color: #643843;
    transition: 0.5s;
    color: white   
}

.icon{
    margin: 5px;
}

 .principal{
    margin: 5px;
    width: 100%;
 }

.iconLogin{
    margin-left:20px;
}
 .contenedor-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px auto;
 }

 .mensaje{
    text-align: center;
    color: rgb(6, 92, 6);
    margin: 20px auto;
 }

 .contenedor-registrar, .contenedor-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 50px auto;
    padding: 10px 40px;
    border: 1px solid rgb(224, 206, 190);
    border-radius: 5px;
 }

 .registrar{
    text-align: center;
 }

 .contenedor-inicio{
    width: 100%;
    margin: 2px;
 }

 .contenedor-contacto{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;

 }

 .contenedor-turno{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
 }

.titulo-tabla{
    color: #1372ee;
    font-weight: bold;
}

.contenedor-usuario{
    border: 1px solid;
    border-width: 1px;
    padding: 10px 40px;
    border-color: #ccc7c8;
    outline: none;
    border-radius: 5px;
}

 .form-grupo{
    border-color: white;
    border-width: 1px;
    outline:none;
    margin: 4px;
    padding: 20px;
    border-radius: 5px;
 }

 .imagen-login{
    display: flex;
    height: 40px;
    margin-top: 1px;
    margin-bottom: 40px;
 }

 .imagen-login img{
    width: 30%;
    margin: auto;
 }

 .titulo{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 25px;
    font-family: "Anton", sans-serif;
    font-weight: 500;
 }

 .titulo-contacto{
    display: block;
    text-align: center;
 }
 
 .titulo-login, .titulo-registrar{
    border-radius: 15px 15px 0 0;
    text-align: center;
    font-size: 25px;
    margin: 20px 10px;
    font-family: "Anton", sans-serif;
    font-weight:80px;
    padding: 10px;
    color: #6d572f;
 }

 .titulo-form-contacto{
    background-color: #fff3d6;
    border-radius: 15px 15px 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Anton", sans-serif;
    padding: 10px;
 }

 .titulo-inicio {
    position: relative;
    animation-name: aparece;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    color: green;
    margin: 5px auto;
    font-size: 20px;
    font-style: normal;
    text-align: center;
  }
 
  .form-registrar label{
    margin-left: 22px;
  }

 .box-login, 
 .box-registrar,
 .box-contacto{
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 260px;
    padding: 5px;
    border-width: 1px;
    margin:auto;
    border-style:dotted;
    /*border: unset;*/
    border: 1px solid rgb(224, 206, 190);
 }

 .box-turno {
    height: 22px;
    width: 220px;
    padding: 2px;
    margin-bottom: 10px;
    border: none;
    border-color:#f6d5a6;
    border-radius: 10px;
    outline:none;
 }

 .box-contacto-mensaje{
    display: block;
    width: 250px;
    border-color: rgb(238, 186, 148);
    outline:none;
    border-width: 1px;
    height: 100px;
    margin-bottom: 20px;
 }

.boton-contacto, 
.boton-turno{
    display: block;
    /*background-color:#e2cbd1;*/
    background-color:#e2cbd1;
    border-radius: 5px;
    outline: none;
    box-shadow: 2px 2px black;
    border-color: white;
    border-width: 2px;
    color:#643843;
    height: 30px;
    width: 250px;
    margin: 25px auto;
    outline-offset: 2px;
    border: unset;
 }
 
.btneliminar, .btnactualizar{
    background-color:rgb(194, 9, 9);
    transition: 100ms ease-in-out;
    border-radius: 4px;
    border: unset;
    padding: 4px 5px;
    font-size: medium;
    width: 100px;
    margin: 1px;
    color:white;
    cursor: pointer;
}

.btnactualizar{
    background-color:rgb(16, 81, 223); 
}
 .boton-login, .boton-registrar{
    background-color:rgb(224, 206, 190);
    border-radius: 4px;
    border: unset;
    padding: 8px 20px;
    font-size: medium;
    width: 260px;
    margin: 20px;
    transition: 100ms ease-in-out;
 }

.icon-email {
    display: flex;
    gap: 10px;
}
.icon-email p a{
    text-decoration: none;
}

 .contenedor-wattsap {
    border: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
    height: 120px;
 }

.text-wattsap{
    display: flex;
    text-decoration: none;
    align-items: center;    
    color: #008000;
}

.imgwattsap{
    width: 40px;
    height: 40px;
    object-fit:cover;
    align-items: center;
    background-color: #643843;
    margin-bottom: 10px;
}

.boton-login:hover, 
.boton-registrar:hover,
.boton-contacto:hover,
.boton-turno:hover{
    background-color: #643843;
    color:white;
    cursor: pointer;
    transform: scale(1.1);
 }


 ::placeholder{
    color:lightslategrey;
    opacity: 0.6;
 }

 .contenedor-mapa-contacto,
 .contenedor-form-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 20px;
 }

 .form-contacto{
    margin-bottom: 20px;
    margin: auto;
 }

.contenedor-ubicacion-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightslategrey;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    color:white;
    padding: 20px;
    text-align: center;
    margin: 50px 50px;
    border: 1px solid rgb(224, 206, 190);
    gap: 10px;
}

.contenedor-ubicacion{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #daf5ef;}

.mapa-contacto{
    display: block;
    width: 400px;
    height: 200px;
 }

 .img-contacto{
    display: block;
    margin-top: 5px;
    width: 400px;
    height: 200px;
 }

 .form-turno{
    background-color:#f3e7d1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    color: #643843;
    gap: 5px;
    padding: 40px 20px;
    justify-content: center;
    border-radius: 10px;
    gap: 20px;

 }
 
 
 .form-registrar, .form-login{
    margin-top: 2px;
    font-size: medium;
    padding: 5px;
    margin-left: 10px;
 }
.iniciar a, .registrar a{
    text-decoration: none;
    font-weight: bold;
 }

.imagen-about-nosotros{
    display: block;
    height: 350px;
    width: 400px;
    margin: auto;
}

.descripcion-about{
    font-style: normal;
    text-align: justify;
    padding: 30px;
    margin: 30px;
}

.contenedor-imagen-servicios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;    
}

.legend{
    color: blueviolet;
    margin-top: 5px;    
    margin-bottom: 10px;
    border-bottom-color: aqua;
    border: none;
    outline: #ddd;
}


.label{
    display:inline-block;
    width: 155px;
    text-align: left;    
}

.contenedor-reserva{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
    align-items: start;
    width: 90%;
    margin: 20px auto;
    gap: 1px;
}

.contenedor-detalle-reserva{
    margin: 10px auto 25px;
}

.form-detalle-reserva{
    margin:25px 10px;
}

.box-reserva{
    margin: 5px auto;
    padding: 1px;
    width: 240px;
    height: 20px;
    border: 1px solid rgb(188, 175, 201);
    outline: none;
}

.boton-reserva{
    padding: 5px 5px;
    background-color: #ee2e24;
    border: unset;
    border-radius: 5px;
    height: 25px;
    width: 200px;
    color: white;
}

.boton-reserva-cancelar{
    display: flex;
    background-color:#FFFDD7;
    justify-content: end;
    align-items: end;
}
.boton-reserva-estado{
    background-color: #1372ee;
}

.mensaje-estado-reserva strong{
    color:rgb(45, 151, 45);
    margin: 30px;
}

.mensaje-parrafo-table{
    color: #008000;
    font-size: 15px;
    font-style: normal;
}

@keyframes aparece{
    from{transform: rotateY(180deg)}
    to{transform: rotateY(-360deg); }
    /*0%{color:green; left: -80px; top:-60px;font-family: "Anton", sans-serif;font-weight: 500;font-style: normal;font-size: 40px;}
    25%{color:blue; left: 350px; top:-60px;font-family: "Anton", sans-serif;font-weight: 500;font-style: normal;font-size: 40px}
    50%{color:red; left: 350px; top:50px;font-family: "Anton", sans-serif;font-weight: 500;font-style: normal;font-size: 40px}
    75%{color:#643843; left:-80px; top:50px;font-family: "Anton", sans-serif;font-weight: 500;font-style: normal;font-size: 40px}
    100%{color:orangered; left: -80px; top:-60px;font-family: "Anton", sans-serif;font-weight: 500;font-style: normal;font-size: 40px}*/
}

.img-inicio,
.img-about{
    width: 400px;
    height: 400px;
    object-fit:cover;
    align-items: center;
}

.figure-inicio, 
.figure-about{
    width: 350px;
    justify-content: center;
    align-content: center;
}

.contenedor-card-inicio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.parrafo-inicio{
    text-align: justify;
    width: 400px;
 }

 
 .titulo-servicio-about,
.titulo-servicio-inicio{
    width: 250px;
    text-align: center;
    font-size: 18px;
    color: #0F362D;
    margin: 10px auto;
    font-family:"Anton", sans-serif;
}

.titulo-about,
.titulo-ubicacion,
.titulo-turno-table{
    text-align: center;
    font-size: 18px;
    color: blueviolet;
    margin: 10px auto;
    border-bottom-color: aqua;
}

 .card-img-inicio, 
 .card-img-about {
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
    justify-content:flex-start;
    width: 400px;
 }

 .contenedor-table-inicio{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: 100%;
}

.contenedor-table-servicios{
    justify-content: center;
    width: 250px;
    margin: 30px 30px;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color:#EFF6E0;
    text-align: center;
    color: #643843;
    height: 200px;
    width: 100%;
    bottom:0;
    left: 0;
    gap: 6px;
 }

 .footer-img-cont{
    display: flex;
    justify-content: center;
    align-items: start;    
    color: #643843;
    width: 100%;
    gap: 30px;    
    padding: 10px 0;
 }
 
 .footer-ubicacion{
    display: flex;
    flex-direction: column;
    align-items: start;  
 }

 .footer-ubicacion p{
    margin: 5px 4px;
 }

 .footer-ubicacion h4{
    margin: 5px 4px;
 }

 .footer-derechos{
    background-color:rgb(107, 129, 238);
    width: 100%;
    padding: 5px;
    color: white;
 }

 .footer-derechos p{
    padding: 10px 0px;
    height: 40px;
    font-display:inherit;
 }

.titulo-form{
    background-color: #369681;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.contenedor-table{
    grid-column: 1/3;
    text-align: center;
    margin: 40px auto;
}

.tableUs{
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.theadUs{
    /*background-color: #246355;*/
    background-color:#EFF6E0;
    border-bottom: solid 1px #0F362D;
    border-radius: 200px;
    color:#643843 ;
}

.thUs, .tdUs{
    padding: 10px;
}

.trUs:nth-child(even){
    background-color: #ddd;
}

.trUs:hover .tdUs{
    /*background-color: #369681;*/
    background-color: #f6d5a6;
    color: white;
}

.table-reserva{
    margin-bottom: 30px;
    width: 400px;
}

html{
    scroll-behavior: smooth;
}

.icon-detalle-reserva{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.btn-login:hover{
    color:white;
}
.btn-login{
    text-decoration: none;
}

.link-btn-cancelar{
    display: flex;
    text-decoration: none;
    background-color: #FFFDD7;
    color:#ee2e24;
    font-size: 20px;
}    

.msje-val{
    background-color: #b2cff7;
    text-align: center;
    border-radius: 10px;
    outline: none;
    height: 40px;
    padding: 10px 0;
}

.header-detalle-reserva{
    display: flex;
    justify-content: end;
    height: 120px;
    width: 100%;
    top:0;
    left: 0;
}

.msje-pas,
.msje-us,
.msje-error{
    color: #ee2e24;
    text-align: center;    
    outline: none;
    height: 40px;
    padding: 5px 0;
    font-size: 12px;
    width: 250px;
    margin: 2px  auto 8px;
}

.autenticacion{
    display: none;
    color: red;
    text-align: center;
}

/*movil */
@media (max-width:767px){

    body{
        padding-top: 10px;
        font-size: 12px;
    }     

    .contenedor-contacto-etw{
        flex-direction: column;
        gap: 5px;
        font-size:12px ;
        margin-top: 1px;
    }

    .contenedor-wattsap {
        display: flex;
        flex-wrap:wrap;
        height: 150px;
        gap: 8px;
        margin: 5px auto;
        justify-content: center;
     }

    .footer{
        height: 350px;
     }

     .footer-img-cont{
        flex-wrap: wrap;
        margin: 0 20px;
        width: 100%; 
     }

    .navbar{
        justify-content:space-around;    
        height: 60px;
        width: 100%;
    }
    
    .header{
        height: 60px;
        z-index: 1;
    }    
 
    .contenido-img{
        background-size:contain;
        height: 280px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo{
        width: 70px;
        height: 70px;
    }


    .navbar-movil, .cerrar{
        display: block;
    }
    
    .navbar-movil, cerrar:focus:not(:focus-visible){
        outline: none;
    }

    .navlink{
        color: #643843;
    }
    
    .navlista{
        flex-direction: column;
        align-items: start;
        position: fixed;
        margin: 0px 0px; 
        background-color:#FFFDD7;
        z-index: 1;
        top: 0px;
        padding: 5px 0;
        width: 100%;
        height: calc(100%);
        left: 100%;
        transition: left 0.3s;
        font-size: 16px;
        align-items: center;
    }
    

    .navitem{
        display: flex;
        line-height: 40px;
        border-bottom: 1px solid rgb(224, 206, 190);
        width: 50%;
    }

    .navlink:hover{
        background:none;
        color:red
    }

    .navlink-active:active{
        color:yellow;
    }
        
    .principal{
        margin: 5px;

    }
    .navlista-visible{
        left: 0;
    }

    .figure{
        height: 70px;
        width: 70px;
        padding: auto;
    }    
    
    .box-turno {
        width: 200px;
     }
 
     .contenedor-contacto {
        text-align: center;
        align-items: center;
     }
     .contenedor-table-inicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .form-turno{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

     .label{
        display: inline-block;
        text-align: left;
        margin: 5px;
    }

    .contenedor-ubicacion{
        flex-direction: column;
    }

    .form-grupo{
        padding: 10px;
     }

}

/* tablet */
@media ((min-width:768px) and (max-width:998px)){ 

    .contenedor-wattsap {
        font-size: 12px;
     }
    
    .navbar{
        justify-content:space-evenly;  
        max-width: 998px;
        padding: 2px;
    }
    
    .navlista{
        padding: 10px auto;
    }
    
    .navitem{
        margin: 0 4px;
    }
    
    .navlink{
        font-size:15px ;
        padding: 2px;
    }

    .contenido-img{
        background-size:contain;
        height: 400px;

    }

    .figure{
        height: 90px;
        width: 90px;
    }

    .logo{
        width: 90px;
        height: 90px;
       /* filter:drop-shadow(4px 4px 4px black);*/
    }
    
    .icon{
        margin: 3px;
    }
        
     .contenedor-inicio{
        margin: 2px;
     }
          
     .contenedor-ubicacion-contacto{
        height: 400px;
    }
    
     .form-contacto{
        margin-bottom: 20px;
        margin: auto;
     }
    
    
    .contenedor-ubicacion{
        flex-direction: column;
        align-items: center;
    }
    
    .mapa-contacto{
        width: 500px;
        height: 300px;
     }
    
     .img-contacto{
        margin-top: 5px;
        width: 500px;
        height: 300px;
     }
    
    .contenedor-detalle-reserva{
        margin: 10px auto 25px;
    }
    
    .form-detalle-reserva{
        margin:25px 10px;
    }
        
    .boton-reserva-cancelar{
        display: flex;
        background-color:#FFFDD7;
    
    }
        .boton-reserva-estado{
        background-color: #1372ee;
    }
    
    .mensaje-estado-reserva strong{
        color:rgb(45, 151, 45);
        margin: 30px;
    }
    
    .parrafo-inicio{
        text-align: justify;
        width: 250px;
     }
    
    .table-reserva{
        margin: 30px auto;
    }
            
    .header-detalle-reserva{
        display: flex;
        justify-content: end;
    }

    .contenedor-reserva{
        justify-content: center;
        margin: 4px;
        font-size: 15px;
    } 


    .form-grupo{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 10px;
     }

     .label{
        display:inline-block;
        text-align: left
    }

    .footer{
        font-size: 12px;
        gap: 5px;
     }

}
